.js-loading *, .js-loading *:before, .js-loading *:after {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
  }

body {
    overflow-x: hidden;
}

#container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    z-index: 0;
}


#container::before {
    -webkit-animation: no-transform 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
          animation: no-transform 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    bottom: 0;
  content: "";
    left: 0;
  opacity: 0;
  position: absolute;
    right: 0;
    top: 0;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  z-index: 1;
}

@-webkit-keyframes no-transform {
    100% {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }

.first {
    position: relative;
    z-index: 10;
}

#titleRow{
    color: aliceblue;
    height: 80%;
}

#title1{
    animation: 1s ease-out 0.5s 1 slideInFromLeft forwards;
    top: 50%;
    left: 8%;
    width: 100%;
    position: relative;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Lora, serif;
    opacity: 0;
    letter-spacing: 2px;
}

#title3{
    animation: 1s ease-out 0.3s 1 slideInFromLeft forwards;
    top: 50%;
    left: 8%;
    width: 40%;
    position: relative;
    font-family: Lora, serif;
    font-size: 2.15rem;
    opacity: 0;
    letter-spacing: 0.2px;
}

@keyframes slideInFromLeft{
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

#down{
    margin-top: 13%;
}

#downImg{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 3.5s;
    width: 5%;
    height: 20%;
    left: 50px;
    opacity: 0;
    margin-bottom: 10vh;
}

@keyframes floating {
    0% { transform: translate(0,  0px); opacity: 0.3;}
    50%  { transform: translate(0, 15px); opacity: 0.5;}
    100%   { transform: translate(0, -0px); opacity: 0.3;}   
}

@media (max-width: 576px){
    #title1{
        animation: 1.5s ease-in 0s 1 slideInFromLeft forwards;
        top: 50%;
        left: 5%;
        width: 36%;
        position: relative;
        font-weight: 300;
        font-size: 6rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Lora, serif;
    }
    
    
    #title3{
        animation: 1s ease-out 0s 1 slideInFromLeft forwards;
        top: 50%;
        left: 5%;
        width: 80%;
        position: relative;
        font-family: Lora, serif;
        font-size: 1.5rem;
    }   

    #down {
        display: none;
    }
}