#painpoint {
    position: absolute;
    height: 45vh;
    background: rgb(255, 255, 255);
    color: #111111;
    background-color: #ffffff;

}

.painPoint {
    background-image: none;
    min-height: 1027px;
    position: relative;
}

#turtle{
    height: 361px;
    object-position: 0% 19.43%;
    width: 573px;
    margin: 666px 0 0 auto;
    padding-top: 30px;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#blueBlock {
    height: 217px;
    width: calc(((100% - 1140px) / 2) + 688px);
    margin: -862px auto 0 0; 
    color: #111111;
    background-color: #ade0e9;
    display: block;
}

.pain-container {
    pointer-events: auto;
    width: 60%;
    margin: -347px auto 60px calc(((100% - 60%) / 2));
}

#white-container {
    background-color: white;
    padding: 5px;
}

#dophine {
    width: 100%;
    height: 100%;
    background-image: url("../img/dolphine.jpeg");
    background-position: 40% 70%;
    background-size: cover;
    min-height: 400px;
    margin-bottom: 10%;
    height: 100%; height: 480px; width:90%; border-style: solid; border-width: 5px; border-color: #ffffff; min-width: 400px;
}

#reason {
    line-height: 2;
    margin: 20px  0 0 10px;
    padding-left: 0;
    word-wrap: break-word;
    position: relative;
    display: table;
    align-self: flex-start;
    font-family: 'Open Sans',sans-serif;
    
}

ul{
    list-style: none;
}

ul li::before{
content: "\2022";
  color: #86aa97;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
}
li{
    font-size: 2.15rem;
    margin-bottom: 15px;
    margin-left: 5px;
    color: #808080;
}

#why {
    position: relative;
    background-clip: padding-box;
    background-origin: padding-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #005369; height: 100%; padding: 30px; opacity: 0.8; min-height: 571px; min-width: 400px;
}

#doyouknow {
    color: #ffffff; text-transform: uppercase; letter-spacing: 2px; font-weight: 400;
                                    margin: 15% auto 0 0; font-size: 4rem;
}

#whyApp{
    min-width: 410px;
}

#emptyBox1 {
    height: 30%;
    display: block;
}

#whyReason {
    padding-top: 10%;
    position: relative;
    font-family: Lora, serif;
    font-size: 2.15rem;
    opacity: 1;
    letter-spacing: 0.2px;
    color: #ffffff;
}

#harmWhy{
    color: #86aa97; margin-left: 5px;
}

@media (max-width: 1300px) and (min-width: 1096px){
    #dophine {
        background-image: url("../img/dolphine.jpeg");
        background-position: 40% 70%;
        background-size: cover;
        height: 400px;
        width: 300px;
        margin-bottom: 10%;
        margin-top: 8%;
        margin-left: 13%;
    }
    #blueBlock {
        height: 317px;
        width: calc(((100% - 1140px) / 2) + 388px);
        margin-top: -962px ; 
        margin-left: 5%;
        color: #111111;
        background-color: #ade0e9;
        display: block;
    }

    #harmWhy{
        color: #86aa97; 
        margin-left: 13%;
    }

    #reason {
        line-height: 2;
        margin: 20px  0 0 15%;
        padding-left: 0;
        word-wrap: break-word;
        position: relative;
        display: table;
        align-self: flex-start;
        font-family: 'Open Sans',sans-serif;
    }

    #turtle{
        height: 361px;
        object-position: 0% 19.43%;
        width: 563px;
        margin: 606px 10px 30px auto;
        padding-top: 30px;
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    #why {
        position: relative;
        background-clip: padding-box;
        background-origin: padding-box;
        background-image: url("../img/ending.jpeg");
        background-position: 40% 0%;
        background-size: cover;
        width: 105vw;
        margin-left: -5%;
        height: 52vh;
        text-align: center;
        padding-left: 30%;
        padding-right: 45%;
    }

    #doyouknow {
        color: #005369; text-transform: uppercase; 
        letter-spacing: 2px; font-weight: 400;                       
        margin: 5% auto 0 0; font-size: 4rem;
    }

    #whyReason {
        padding-top: 2%;
        position: relative;
        font-family: Lora, serif;
        font-size: 2.15rem;
        opacity: 1;
        letter-spacing: 0.2px;
        color: #005369;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 10%;
    }

    .pain-container {
        pointer-events: auto;
        width: 60%;
        margin-top: -347px;
        margin-left: 0;
        opacity: 0.95;
    }
    
}

@media (max-width: 1096px) and (min-width: 581px){
    #dophine {
        background-image: url("../img/dolphine.jpeg");
        background-position: 40% 70%;
        background-size: cover;
        height: 400px;
        width: 300px;
        margin-bottom: 10%;
        margin-top: 8%;
        margin-left: 13%;
    }
    #blueBlock {
        height: 317px;
        width: calc(((100% - 1140px) / 2) + 388px);
        margin-top: -962px ; 
        margin-left: 5%;
        color: #111111;
        background-color: #ade0e9;
        display: block;
    }

    #harmWhy{
        color: #86aa97; 
        margin-left: 13%;
    }

    #reason {
        line-height: 2;
        margin: 20px  0 0 15%;
        padding-left: 0;
        word-wrap: break-word;
        position: relative;
        display: table;
        align-self: flex-start;
        font-family: 'Open Sans',sans-serif;
    }

    #turtle{
        height: 361px;
        object-position: 0% 19.43%;
        width: 563px;
        margin: 606px 10px 30px auto;
        padding-top: 30px;
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0;
    }

    #emptyBox1 {
        position: absolute;
        background-clip: padding-box;
        background-origin: padding-box;
        background-image: url("../img/sea.jpg");
        opacity: 0.8;
        background-position: 30% 50%;
        background-size: cover;
        width: 25vw;
        height: 12vh;
        padding-left: 30%;
        padding-right: 30%;
        z-index: 1;
        margin-left: calc((100% - 300px) / 2 - 32%);
    }

    #why {
        position: absolute;
        background-clip: padding-box;
        background-origin: padding-box;
        background-color: #005269c5;
        margin-left: calc((100% - 300px) / 2 + 5%);
        width: calc(100% - (100% - 300px) / 2 - 6%);
        opacity: 0.9;
        margin-top: 15%;
        height: 30vh;
        text-align: center;
        z-index: 0;
        text-align: center;
    }

    #doyouknow {
        color: #ffffff; text-transform: uppercase; 
        letter-spacing: 2px; font-weight: 400;                       
        margin: 5% auto 0 0; font-size: 4rem;
    }

    #whyReason {
        padding-top: 20px;
        position: relative;
        font-family: Lora, serif;
        font-size: 2.15rem;
        opacity: 1;
        letter-spacing: 0.2px;
        color: #ffffff;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 10%;
    }

    .pain-container {
        pointer-events: auto;
        width: 60%;
        margin-top: -347px;
        margin-left: 0;
        opacity: 0.95;
    }
    
}


@media (max-width: 581px){
    #dophine {
        position: relative;
        background-image: url("../img/dolphine.jpeg");
        background-position: 40% 70%;
        background-size: fixed;
        width: 110vw;
        margin-bottom: 10%;
        margin-top: 8%;
        margin-left: -20%;
    }
    #blueBlock {
        height: 317px;
        width: calc(((100% - 1140px) / 2) + 388px);
        margin-top: -962px ; 
        margin-left: 5%;
        color: #111111;
        background-color: #ade0e9;
        display: block;
        opacity: 0;
    }

    #harmWhy{
        color: #86aa97; 
        margin-left: 13%;
        width: 100vw;
        text-align: left;
    }

    #reason {
        line-height: 2;
        margin: 20px  0 0 15%;
        padding-left: 0;
        word-wrap: break-word;
        position: relative;
        display: table;
        align-self: flex-start;
        font-family: 'Open Sans',sans-serif;
        width: 80vw;
    }

    #turtle{
        height: 361px;
        object-position: 0% 19.43%;
        width: 563px;
        margin: 606px 10px 30px auto;
        padding-top: 30px;
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0;
    }

    #emptyBox1 {
        position: absolute;
        background-clip: padding-box;
        background-origin: padding-box;
        background-image: url("../img/sea.jpg");
        opacity: 0.8;
        background-position: 30% 50%;
        background-size: cover;
        width: 25vw;
        height: 12vh;
        padding-left: 30%;
        padding-right: 30%;
        z-index: 1;
        margin-left: calc((100% - 300px) / 2 - 32%);
        opacity: 0;
    }

    #why {
        position: absolute;
        background-clip: padding-box;
        background-origin: padding-box;
        background-image: url("../img/oceanBack.avif");
        background-size: cover;
        margin-left: calc((100% - 300px) / 2 + 5%);
        width: calc(100% - (100% - 300px) / 2 - 6%);
        opacity: 0.9;
        margin-top: 15%;
        height: 30vh;
        text-align: center;
        z-index: 0;
        text-align: center;
        width: 120vw;
        margin-left: -20%;
        padding-left: 20%;
    }

    #doyouknow {
        color: #ffffff; text-transform: uppercase; 
        letter-spacing: 2px; font-weight: 400;                       
        margin: 5% auto 0 0; font-size: 4rem;
    }

    #whyReason {
        padding-top: 20px;
        position: relative;
        font-family: Lora, serif;
        font-size: 2.15rem;
        opacity: 1;
        letter-spacing: 0.2px;
        color: #ffffff;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 10%;
    }

    .pain-container {
        pointer-events: auto;
        width: 60%;
        margin-top: -347px;
        margin-left: 0;
        opacity: 0.95;
    }
    
}
